<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail</title>
</head>
<style>
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* display:grid;
        place-items: center; */
    }
    .box{
        width: 50%;
    }
    .box h4{
        font-size: 20px;
    }
    .box p{
        text-align: justify;
    }
    .box button{
        border: 2px solid black;
        border: none;
        background: green;
        padding: 10px;
        border-radius: 10px;
    }
    .box a{
        text-decoration: none;
        color: white;
    }
</style>
<body>
    <div class="box">
        <h4>Dulcet Password Reset</h4>
        <p>We heard that you lost your Dulcet password. Sorry about that!.</p>
        <p>But don't worry about that. By clicking the below button you can reset your password.</p>
        <button><a href="http://localhost:1234/forgotnewpass">Reset your password</a></button>
        <p>Thanks,<br>The Dulcet Team.</p>
    </div>
</body>
</html>