<DOCTYPE html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/login.css">
    <link rel="icon" href="/assets/images/logo.png">
    </head>
    <body>
          <div class="login">
          <form id="form" class="form" action="/dblogin" method="post" onsubmit="return submitvalidate()">
            <h2 id="h2">Dulcet Login</h2>
      
          <input type="text" placeholder="Enter your email" id="email" name="email" onkeyup="emailerror()">
          <small id="error1">Error Message</small>
          <input type="password" placeholder="Enter your password" id="set_password" name="set_password" onkeyup="spasserror()">
          <!-- <i class="fa fa-eye"></i> -->
          <!-- <i class="fa fa-eye-close"></i> -->
          <small id="error2">Error Message</small> 
          <button type="submit">Login</button>
          <span><a class="password" href="/forgotpass">Forgot&nbsp;password&nbsp;?&nbsp;</a>or&nbsp;<a class="password" href="/register">Sign&nbsp;up</a></span>
          </form>
          </div>
          <script>
          const email=document.getElementById("email");
          const spass=document.getElementById("set_password");
          const error1=document.getElementById("error1");
          const error2=document.getElementById("error2");
          var count=0;
          function emailerror(){
        const email1=email.value;
        const regExp = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        if(email1==""){
          error1.innerHTML="This Field should'nt be empty";
          error1.style.visibility="visible";
          email.style.border="2px solid red";
        }
        else if(!(regExp.test(email1))){
          email.style.border="2px solid red";
          error1.style.visibility="visible";
          error1.innerHTML="Invalid! Please provide proper Email";
      }
      else{
        error1.style.visibility="hidden";
        email.style.border="2px solid green";
        return count++;
      }
    }
    
    function spasserror(){
      const spass1=spass.value;
        if(spass1==''){
        error2.innerHTML="This Field should'nt be empty";
        error2.style.visibility="visible";
        spass.style.border="2px solid red";
      }
        else{
        error2.style.visibility="hidden";
        spass.style.border="2px solid green";
        count++;
        } 
    }
    
    function submitvalidate(){
      if(count>2) return true;
      else return false;
    }
        </script>
        </body>
        </html>